* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Clase custom para los toasts usando únicamente Montserrat */
.custom-toast-font {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px !important;
}